html,body, #root, .App{
  height: 100%;
}

.App{
  display: flex;
  justify-content: center;
}

body{
  background-image: url('../images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position-y: bottom;  
  background-attachment: fixed;

}

.main-container > div{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: wrap-reverse;
  margin-left: auto;
  margin-right: auto;
}


.description-container{
  background-image: url('../images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-position-x: 86px;
  width: 100%;
  max-width: 650px;
  position: relative;
  left: 100px;
  z-index: 99;
}

.description{
  padding-top: 37px;  
}

.long-description > p{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: rgb(32 32 70);
}

.profile-info-container{
  display: flex;
}

.profile-info-container > .name > h5 {
  color: rgb(32 32 70);
  font-weight: 700;
}

.profile-info-container > .profile-info > h5{
  font-family: 'Inter';
  margin-top: 0px; 
}

.profile-info-container > .profile{
  margin-left: 5px;
  color: rgb(186 186 207);
}

.photo-container{
  position: relative;
  right: 60px;
}

.photo-container > .photo-bg > .profile-photo{
  position: absolute;
  top: 10%;
  left: 13%;
}

.photo-container > .photo-bg > .profile-photo > img{
  box-shadow: 1px 20px 30px 0px rgb(186 186 207);
  border-radius: 5px;
}

.profile-photo > .navigator{
  position: absolute;
  bottom: -3%;
  left: 9%;
}

.profile-photo > .navigator > button{
  background-color: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 10px 0px rgb(186 186 207);
  outline: none;
}





#left{
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

#right{
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

@media screen and (min-width:768px){
  .photo-container{
    max-width: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  body{
    background-size: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1400px){
  .main-container{
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .App{
    display: block;
  }


  .description-container{
    left: 0px;
    background-position-x: center;
    margin-top: 20px;
    background-size: 15%;
  }

  .description{
    padding-top: 0px;
  }

  .long-description > p{
    text-align: center;
    font-size: 20px;
  }

  .photo-bg > .bg{
    width: 100%;
  }

  .photo-bg > .bg > img{
    max-width: 100%;
    height: auto;
  }

  .photo-container > .photo-bg > .profile-photo > img {
    max-width: 100%;
    height: auto;
  }

  .photo-container > .photo-bg >.profile-photo{
    max-width: 76%;
    margin:auto
  }

  .photo-container{
    right: 0px;
  }

  .profile-photo > .navigator{
    /* position: relative; */
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    left: 25%;
  }

  .profile-photo > .navigator > button{
    padding: 12%;
  }

  .profile-photo > .navigator > button > img{
    max-width: 60%;
    height: auto;
  }



  .profile-info-container{
    display: block;
  }

  .profile-info{
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .profile-info > h5{
    margin-bottom: 2px;
    font-size: 20px;
  }
}
